*.txt
!CMakeLists.txt
*.csv
build
devel
logs
*.log
*.swp
*~
*#
tags
.project
.cproject
.idea
.settings
.json
!*.yaml
*.o
*.so
.log
*.vscode
.python-version
*cmake*
.catkin*
.tags
*.jpg

ambot_controller_node
ambot_realrobot_node
/webots_sim_node
/src/terrain-classfication/Mesona
/src/terrain-classfication/Mesona2